<!DOCTYPE html>
<html lang="en">

<head>
<link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Noun_883674_cc_Symbolon_tree_icon.svg/480px-Noun_883674_cc_Symbolon_tree_icon.svg.png?20170413114733">
  <meta charset="utf-8">
  <title>Drevesnik</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
</head>
<body>

<a data-i18n="download_freqs_json" href={{xurl}}></a>
<br><br>
<h2 data-i18n="stats"></h2>
<div style="border: 1px outset black;width: 500px;">
{% for k, v in ret[0].items() %}
    {{ k }} : {{ v }} <br>
{% endfor %}
</div>

<br><br>


{% for xx in relx %}
        <h2>{{ xx }}</h2>
<div style="border: 1px outset black;width: 500px;">

        {{ xx }} - {{ count }} : {{ ret[1][ xx + " - "  + count] }}<br><br>
        {% if ret[1][xx + " - " + most_common]|length > 0 %}
            <h3 data-i18n="top_ten"></h3>
                {% for k, v in ret[1][xx + " - " + most_common] %}
                    {{ k }} : {{ v }} <br>
                {% endfor %}
        {% endif %}
</div>

<br><br>

{% endfor %}


<script src="/drevesnik/static/js/translate.js"></script>
<script>var site_lang = "{{ site_lang }}";</script>
</body>
</html>
