 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> <html lang="en"> <head> <meta http-equiv="content-type" content="text/html; charset=utf-8"> <title>Login</title> </head> <body> <p>Password (correct answer will result in a cookie in your system)</p>
 
  <form action="/drevesnik/login" method="post">
    <label for="pass">Password</label>
    <input type="password" id="pass" name="pass">
    <input type="submit" value="Submit">
  </form>
 </body> </html>
